.editPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat center center/cover;
  font-family: "Poppins", sans-serif;
}

.overlay {
  background-color: rgba(126, 143, 129, 0.85);
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  max-width: 480px;
  width: 90%;
}

.title {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
  font-family: "Poppins";
}

.editTitle {
  background-color: #e8a15a;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 8px;
  margin-bottom: 25px;
  cursor: default;
  font-family: "Poppins";
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #fff;
  font-family: "Poppins";
}

.input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "Poppins";
}

.submitBtn {
  background-color: #e8a15a;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.submitBtn:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
